.icon{width:16px;height:16px;}
.accept{ background:url(/scripts/themes/icons/accept.png) no-repeat;}
.settle{ background:url(/scripts/themes/icons/settle.png) no-repeat;}
.add{ background:url(/scripts/themes/icons/add.png) no-repeat;}
.application{ background:url(/scripts/themes/icons/application.png) no-repeat;}
.application_double{ background:url(/scripts/themes/icons/application_double.png) no-repeat;}
.application_view_gallery{ background:url(/scripts/themes/icons/application_view_gallery.png) no-repeat;}
.application_view_list{ background:url(/scripts/themes/icons/application_view_list.png) no-repeat;}
.application_view_tile{ background:url(/scripts/themes/icons/application_view_tile.png) no-repeat;}
.arrow_left{ background:url(/scripts/themes/icons/arrow_left.png) no-repeat;}
.cancel{ background:url(/scripts/themes/icons/cancel.png) no-repeat;}
.chart_area{ background:url(/scripts/themes/icons/chart_area.png) no-repeat;}
.chart_bar{ background:url(/scripts/themes/icons/chart_bar.png) no-repeat;}
.chart_curve{ background:url(/scripts/themes/icons/chart_curve.png) no-repeat;}
.chart_line{ background:url(/scripts/themes/icons/chart_line.png) no-repeat;}
.chart_pie{ background:url(/scripts/themes/icons/chart_pie.png) no-repeat;}
.close{ background:url(/scripts/themes/icons/close.png) no-repeat;}
.cog_go{ background:url(/scripts/themes/icons/cog_go.png) no-repeat;}
.columns{ background:url(/scripts/themes/icons/columns.png) no-repeat;}
.database_go{ background:url(/scripts/themes/icons/database_go.png) no-repeat;}
.database_lightning{ background:url(/scripts/themes/icons/database_lightning.png) no-repeat;}
.database_refresh{ background:url(/scripts/themes/icons/database_refresh.png) no-repeat;}
.database_save{ background:url(/scripts/themes/icons/database_save.png) no-repeat;}
.database_table{ background:url(/scripts/themes/icons/database_table.png) no-repeat;}
.delete{ background:url(/scripts/themes/icons/delete.png) no-repeat;}
.edit{ background:url(/scripts/themes/icons/edit.png) no-repeat;}
.print{ background:url(/scripts/themes/icons/print.png) no-repeat;}
.message{ background:url(/scripts/themes/icons/message.png) no-repeat;}
.confirm{ background:url(/scripts/themes/icons/confirm.png) no-repeat;}
.signed{ background:url(/scripts/themes/icons/signed.png) no-repeat;}
.get{ background:url(/scripts/themes/icons/get.png) no-repeat;}
.link{ background:url(/scripts/themes/icons/link.png) no-repeat;}
.link_break{ background:url(/scripts/themes/icons/link_break.png) no-repeat;}
.page_red{ background:url(/scripts/themes/icons/page_red.png) no-repeat;}
.page_white_code{ background:url(/scripts/themes/icons/page_white_code.png) no-repeat;}
.page_white_csharp{ background:url(/scripts/themes/icons/page_white_csharp.png) no-repeat;}
.page_white_picture{ background:url(/scripts/themes/icons/page_white_picture.png) no-repeat;}
.paste_plain{ background:url(/scripts/themes/icons/paste_plain.png) no-repeat;}
.put{ background:url(/scripts/themes/icons/put.png) no-repeat;}
.refresh{ background:url(/scripts/themes/icons/refresh.png) no-repeat;}
.report{ background:url(/scripts/themes/icons/report.png) no-repeat;}
.help{ background:url(/scripts/themes/icons/help.png) no-repeat;}
.newhand{background:url(/scripts/themes/icons/newhand.png) no-repeat;}
.question{background:url(/scripts/themes/icons/question.png) no-repeat;}
.report_add{ background:url(/scripts/themes/icons/report_add.png) no-repeat;}
.report_edit{ background:url(/scripts/themes/icons/report_edit.png) no-repeat;}
.rowedit{ background:url(/scripts/themes/icons/rowedit.png) no-repeat;}
.save{ background:url(/scripts/themes/icons/save.png) no-repeat;}
.search{ background:url(/scripts/themes/icons/search.png) no-repeat;}
.sitemap_color{ background:url(/scripts/themes/icons/sitemap_color.png) no-repeat;}
.swoosh{ background:url(/scripts/themes/icons/swoosh.png) no-repeat;}
.table{ background:url(/scripts/themes/icons/table.png) no-repeat;}
.tag_blue{ background:url(/scripts/themes/icons/tag_blue.png) no-repeat;}
.text_list_numbers{ background:url(/scripts/themes/icons/text_list_numbers.png) no-repeat;}
.user{ background:url(/scripts/themes/icons/user.png) no-repeat;}
.vcard_edit{ background:url(/scripts/themes/icons/vcard_edit.png) no-repeat;}
.winedit{ background:url(/scripts/themes/icons/winedit.png) no-repeat;}
.wrench{ background:url(/scripts/themes/icons/wrench.png) no-repeat;}
.wrench_orange{ background:url(/scripts/themes/icons/wrench_orange.png) no-repeat;}
.money{ background:url(/scripts/themes/icons/money.png) no-repeat;}
.coins{ background:url(/scripts/themes/icons/coins.png) no-repeat;}
.car{ background:url(/scripts/themes/icons/car.png) no-repeat;}
.calculator{ background:url(/scripts/themes/icons/calculator.png) no-repeat;}
.group{ background:url(/scripts/themes/icons/group.png) no-repeat;}
.application_side_tree{ background:url(/scripts/themes/icons/application_side_tree.png) no-repeat;}
.user_gray{ background:url(/scripts/themes/icons/user_gray.png) no-repeat;}
.user_suit{ background:url(/scripts/themes/icons/user_suit.png) no-repeat;}
.vcard{ background:url(/scripts/themes/icons/vcard.png) no-repeat;}
.bricks{ background:url(/scripts/themes/icons/bricks.png) no-repeat;}
.clock{ background:url(/scripts/themes/icons/clock.png) no-repeat;}
.user_orange{ background:url(/scripts/themes/icons/user_orange.png) no-repeat;}
.house{ background:url(/scripts/themes/icons/house.png) no-repeat;}
.group_link{ background:url(/scripts/themes/icons/group_link.png) no-repeat;}
.money_yen{ background:url(/scripts/themes/icons/money_yen.png) no-repeat;}
.coins_delete{ background:url(/scripts/themes/icons/coins_delete.png) no-repeat;}
.car_add{ background:url(/scripts/themes/icons/car_add.png) no-repeat;}
.cart{ background:url(/scripts/themes/icons/cart.png) no-repeat;}
.phone_sound{ background:url(/scripts/themes/icons/phone_sound.png) no-repeat;}
.database_add{ background:url(/scripts/themes/icons/database_add.png) no-repeat;}
.color_swatch{ background:url(/scripts/themes/icons/color_swatch.png) no-repeat;}
.credit{ background:url(/scripts/themes/icons/credit.png) no-repeat;}
.card{ background:url(/scripts/themes/icons/card.png) no-repeat;}
.credit_card{ background:url(/scripts/themes/icons/credit_card.png) no-repeat;}
.card_select{ background:url(/scripts/themes/icons/card_select.png) no-repeat;}
.lock_edit{ background:url(/scripts/themes/icons/lock_edit.png) no-repeat;}
.page_white_word{ background:url(/scripts/themes/icons/page_white_word.png) no-repeat;}
.page_white_excel{ background:url(/scripts/themes/icons/page_white_excel.png) no-repeat;}
.page_white_xlsx{ background:url(/scripts/themes/icons/page_white_xlsx.png) no-repeat;}
.page_white_acrobat{ background:url(/scripts/themes/icons/page_white_acrobat.png) no-repeat;}
.application_32X32{background:url(/content/images/32X32/application.png) no-repeat}
.money_32X32{ background:url(/scripts/themes/icons/32X32/money.png) no-repeat;}
.coins_32X32{ background:url(/scripts/themes/icons/32X32/coins.png) no-repeat;}
.coins_mobile_9{ background:url(/scripts/themes/icons/mobile9.png) no-repeat;}
.coins_mobile_8{ background:url(/scripts/themes/icons/mobile8.png) no-repeat;}
.coins_mobile_7{ background:url(/scripts/themes/icons/mobile7.png) no-repeat;}
.coins_mobile_6{ background:url(/scripts/themes/icons/mobile6.png) no-repeat;}
.coins_mobile_5{ background:url(/scripts/themes/icons/mobile5.png) no-repeat;}
.coins_mobile_4{ background:url(/scripts/themes/icons/mobile4.png) no-repeat;}
.coins_mobile_3{ background:url(/scripts/themes/icons/mobile3.png) no-repeat;}
.coins_mobile_2{ background:url(/scripts/themes/icons/mobile2.png) no-repeat;}
.coins_mobile_1{ background:url(/scripts/themes/icons/mobile1.png) no-repeat;}
.send_sms{ background:url(/scripts/themes/icons/send_sms.png) no-repeat;}
.stowage{ background:url(/scripts/themes/icons/stowage.png) no-repeat;}
.transfer{ background:url(/scripts/themes/icons/transfer.png) no-repeat;}
.select{ background:url(/scripts/themes/icons/select.png) no-repeat;}
.arrival{ background:url(/scripts/themes/icons/arrival.png) no-repeat;}
.save_print{ background:url(/scripts/themes/icons/saveandprint.png) no-repeat;}
.word_help{ background:url(/scripts/themes/icons/word_help.png) no-repeat;}
.video_help{ background:url(/scripts/themes/icons/video_help.png) no-repeat;}