<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <alias alias="Transaction" type="SpecialLogisticsSystem.Dal.TransactionHandler,SpecialLogisticsSystem.Dal" />
    <containers>
      <container>
        <extension type="Interception" />
        <interception>
          <policy name="transactionPolicy">
            <matchingRules>
              <matchingRule name="create-rule1" type="TypeMatchingRule">
                <constructor>
                  <param name="typeName" value="SpecialLogisticsSystem.Dal.CmMenuDal, SpecialLogisticsSystem.Dal"/>
                </constructor>
              </matchingRule>
            </matchingRules>
            <callHandler name="transactionHandler" type="Transaction">
              <lifetime type="singleton" />
            </callHandler>
          </policy>
        </interception>
        <register type="IInterceptionBehavior" mapTo="SpecialLogisticsSystem.AppPortal.UIHelpers.OperationLogInterceptor, SpecialLogisticsSystem.AppPortal" name="OperationLogInterceptor"></register>
        <register type="SpecialLogisticsSystem.IDal.IDao, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.Dao, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmUserDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmUserDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmMenuDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmMenuDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IArrivalDeliverDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.ArrivalDeliverDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IArrivalDeliverGoodsDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.ArrivalDeliverGoodsDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IArrivalSignDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.ArrivalSignDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmBranchDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmBranchDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmCarDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmCarDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmCarAreaDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmCarAreaDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmCityDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmCityDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmCodeDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmCodeDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmConfigDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmConfigDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmCustomerDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmCustomerDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmDistrictDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmDistrictDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmEmpDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmEmpDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmFeeTypeDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmFeeTypeDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmLinkDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmLinkDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmProvinceDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmProvinceDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmRoleDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmRoleDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmRoleMenuRelationDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmRoleMenuRelationDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmTemplateDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmTemplateDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmUserBranchRelationDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmUserBranchRelationDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmUserRoleRelationDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmUserRoleRelationDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IFinanceCustomerDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.FinanceCustomerDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IFinanceDailyDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.FinanceDailyDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IFinanceDriverDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.FinanceDriverDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IFinanceGoodsDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.FinanceGoodsDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IFinanceServiceDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.FinanceServiceDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IStowageDetailDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.StowageDetailDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IStowageMainDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.StowageMainDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IStowageSiteDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.StowageSiteDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ITransferDetailDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.TransferDetailDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ITransferMainDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.TransferMainDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IWayBillDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.WayBillDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IWayProductionDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.WayProductionDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IWaySmsDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.WaySmsDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IWayTrackDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.WayTrackDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmSequenceNumberDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmSequenceNumberDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.ICmServicerDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmServicerDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IArrivalMainDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.ArrivalMainDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
        <register type="SpecialLogisticsSystem.IDal.IFinanceDiscountDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.FinanceDiscountDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
      </container>
    </containers>
  </unity>
</configuration>