<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <alias alias="Transaction" type="SpecialLogisticsSystem.Dal.TransactionHandler,SpecialLogisticsSystem.Dal" />
    <containers>
      <container>
        <extension type="Interception" />
        <interception>
          <policy name="transactionPolicy">
            <matchingRules>
              <matchingRule name="create-rule1" type="TypeMatchingRule">
                <constructor>
                  <param name="typeName" value="SpecialLogisticsSystem.Dal.CmMenuDal, SpecialLogisticsSystem.Dal"/>
                </constructor>
              </matchingRule>
            </matchingRules>
            <callHandler name="transactionHandler" type="Transaction">
              <lifetime type="singleton" />
            </callHandler>
          </policy>
        </interception>
        <register type="IInterceptionBehavior" mapTo="SpecialLogisticsSystem.AppPortal.UIHelpers.OperationLogInterceptor, SpecialLogisticsSystem.AppPortal" name="OperationLogInterceptor"></register>

        <register type="SpecialLogisticsSystem.IDal.ICmMenuDal, SpecialLogisticsSystem.IDal" mapTo="SpecialLogisticsSystem.Dal.CmMenuDal, SpecialLogisticsSystem.Dal">
          <lifetime type="singleton" />
          <interceptionBehavior name="OperationLogInterceptor"/>
          <interceptor type="VirtualMethodInterceptor"/>
          <policyInjection />
        </register>
      </container>
    </containers>
  </unity>
</configuration>